.text01 {
	FONT-SIZE: 12px; COLOR: #ff9900; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.box01 {
	BORDER-RIGHT: #ff9900 1px; BORDER-TOP: #ff9900 1px; FONT-SIZE: 12px; BORDER-LEFT: #ff9900 1px; COLOR: #ff9900; BORDER-BOTTOM: #ff9900 1px solid; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #f8f8f8; TEXT-DECORATION: none
}
.text02 {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: "宋体"; LETTER-SPACING: 4pt; TEXT-DECORATION: none
}
.text03 {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 200%; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.text04 {
	FONT-SIZE: 12px; COLOR: #188eff; FONT-FAMILY: "宋体"; LETTER-SPACING: 3pt; TEXT-DECORATION: none
}
A:link {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.1:link {
	FONT-SIZE: 12px; COLOR: #188eff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.1:visited {
	FONT-SIZE: 12px; COLOR: #188eff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.1:active {
	FONT-SIZE: 12px; COLOR: #188eff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.1:hover {
	FONT-SIZE: 12px; COLOR: #188eff; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
A.2:link {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.2:visited {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.2:active {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.2:hover {
	FONT-SIZE: 12px; COLOR: #ff9900; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
