A:link {
	COLOR: #003333; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #003333; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #ff3300; TEXT-DECORATION: underline
}
A.bluelink:link {
	COLOR: #0099ff; TEXT-DECORATION: none
}
A.bluelink:visited {
	COLOR: #0099ff; TEXT-DECORATION: none
}
A.bluelink:hover {
	COLOR: #ff3300; TEXT-DECORATION: underline
}
A.graylink:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A.graylink:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A.graylink:hover {
	COLOR: #ff3300; TEXT-DECORATION: underline
}
A.blacklink:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A.blacklink:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A.blacklink:hover {
	COLOR: #ff3300; TEXT-DECORATION: underline
}
A.greenlinkunderline:link {
	COLOR: #003333; TEXT-DECORATION: underline
}
A.greenlinkunderline:visited {
	COLOR: #003333; TEXT-DECORATION: underline
}
A.greenlinkunderline:hover {
	COLOR: #ff3300; TEXT-DECORATION: underline
}
A.redlinkunderline:link {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.redlinkunderline:visited {
	COLOR: #003333; TEXT-DECORATION: underline
}
A.redlinkunderline:hover {
	COLOR: #ff3300; TEXT-DECORATION: underline
}
.errormsg {
	FONT-SIZE: 9pt; WORD-SPACING: 0.5em; COLOR: #ff0000; LINE-HEIGHT: 150%; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
TABLE.greentable80 {
	BORDER-RIGHT: #003333 1px solid; BORDER-TOP: #003333 1px solid; BORDER-LEFT: #003333 1px solid; WIDTH: 80%; BORDER-BOTTOM: #003333 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #b1c0a1
}
TABLE.greentable96 {
	BORDER-RIGHT: #003333 1px solid; BORDER-TOP: #003333 1px solid; BORDER-LEFT: #003333 1px solid; WIDTH: 98%; BORDER-BOTTOM: #003333 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #b1c0a1
}
TABLE.greentable90 {
	BORDER-RIGHT: #003333 1px solid; BORDER-TOP: #003333 1px solid; BORDER-LEFT: #003333 1px solid; WIDTH: 90%; BORDER-BOTTOM: #003333 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #b1c0a1
}
TABLE.greentable96white {
	BORDER-RIGHT: #003333 1px solid; BORDER-TOP: #003333 1px solid; BORDER-LEFT: #003333 1px solid; WIDTH: 98%; BORDER-BOTTOM: #003333 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff
}
TABLE.greentable100 {
	BORDER-RIGHT: #003333 1px solid; BORDER-TOP: #003333 1px solid; BORDER-LEFT: #003333 1px solid; WIDTH: 100%; BORDER-BOTTOM: #003333 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #b1c0a1
}
TABLE.nobordertable96 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 2pt; PADDING-LEFT: 2pt; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 2pt; WIDTH: 98%; PADDING-TOP: 2pt; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 0px
}
TABLE.nobordertable100 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 2pt; PADDING-LEFT: 2pt; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 2pt; WIDTH: 100%; PADDING-TOP: 2pt; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 0px
}
TABLE.greentablenowidth {
	BORDER-RIGHT: #b1c0a1 1px solid; BORDER-TOP: #b1c0a1 1px solid; BORDER-LEFT: #b1c0a1 1px solid; BORDER-BOTTOM: #b1c0a1 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff
}
TD.greentdsolidcenter {
	BORDER-RIGHT: #b1c0a1 1px solid; PADDING-RIGHT: 4pt; BORDER-TOP: #b1c0a1 1px solid; PADDING-LEFT: 4pt; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 4pt; BORDER-LEFT: #b1c0a1 1px solid; COLOR: #333333; PADDING-TOP: 4pt; BORDER-BOTTOM: #b1c0a1 1px solid; FONT-STYLE: normal; FONT-FAMILY: 宋体; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #eef2ee; TEXT-ALIGN: center; TEXT-DECORATION: none
}
TD.greentdsolid {
	BORDER-RIGHT: #b1c0a1 1px solid; PADDING-RIGHT: 4pt; BORDER-TOP: #b1c0a1 1px solid; PADDING-LEFT: 4pt; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 4pt; BORDER-LEFT: #b1c0a1 1px solid; COLOR: #333333; PADDING-TOP: 4pt; BORDER-BOTTOM: #b1c0a1 1px solid; FONT-STYLE: normal; FONT-FAMILY: 宋体; BACKGROUND-COLOR: #eef2ee; TEXT-DECORATION: none
}
TD.greentddotted {
	BORDER-RIGHT: #b1c0a1 1px dotted; PADDING-RIGHT: 4pt; BORDER-TOP: #b1c0a1 1px dotted; PADDING-LEFT: 4pt; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 4pt; BORDER-LEFT: #b1c0a1 1px dotted; COLOR: #333333; PADDING-TOP: 4pt; BORDER-BOTTOM: #b1c0a1 1px dotted; FONT-STYLE: normal; FONT-FAMILY: 宋体; BACKGROUND-COLOR: #eef2ee; TEXT-DECORATION: none
}
TD.greentddottedcenter {
	BORDER-RIGHT: #b1c0a1 1px dotted; PADDING-RIGHT: 4pt; BORDER-TOP: #b1c0a1 1px dotted; PADDING-LEFT: 4pt; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 4pt; BORDER-LEFT: #b1c0a1 1px dotted; COLOR: #333333; PADDING-TOP: 4pt; BORDER-BOTTOM: #b1c0a1 1px dotted; FONT-STYLE: normal; FONT-FAMILY: 宋体; BACKGROUND-COLOR: #eef2ee; TEXT-ALIGN: center; TEXT-DECORATION: none
}
TD.whitetdsolid {
	BORDER-RIGHT: #b1c0a1 1px solid; PADDING-RIGHT: 4pt; BORDER-TOP: #b1c0a1 1px solid; PADDING-LEFT: 4pt; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 4pt; BORDER-LEFT: #b1c0a1 1px solid; COLOR: #333333; PADDING-TOP: 4pt; BORDER-BOTTOM: #b1c0a1 1px solid; FONT-STYLE: normal; FONT-FAMILY: 宋体; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
TD.whitetdsolidNoBg {
	BORDER-RIGHT: #b1c0a1 1px solid; PADDING-RIGHT: 4pt; BORDER-TOP: #b1c0a1 1px solid; PADDING-LEFT: 4pt; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 4pt; BORDER-LEFT: #b1c0a1 1px solid; COLOR: #333333; PADDING-TOP: 4pt; BORDER-BOTTOM: #b1c0a1 1px solid; FONT-STYLE: normal; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
TR.whitetrsolid {
	BORDER-RIGHT: #b1c0a1 1px solid; PADDING-RIGHT: 4pt; BORDER-TOP: #b1c0a1 1px solid; PADDING-LEFT: 4pt; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 4pt; BORDER-LEFT: #b1c0a1 1px solid; COLOR: #333333; PADDING-TOP: 4pt; BORDER-BOTTOM: #b1c0a1 1px solid; FONT-STYLE: normal; FONT-FAMILY: 宋体; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
TR.even {
	BORDER-TOP-WIDTH: 2px; BORDER-LEFT-WIDTH: 2px; BORDER-LEFT-COLOR: #b10000; BORDER-BOTTOM-WIDTH: 2px; BORDER-BOTTOM-COLOR: #b10000; BORDER-TOP-COLOR: #b10000; BACKGROUND-COLOR: #eef2ee; BORDER-RIGHT-WIDTH: 2px; BORDER-RIGHT-COLOR: #b10000
}
TR.odd {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #b1c0a1; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #b1c0a1; BORDER-TOP-COLOR: #b1c0a1; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #b1c0a1
}
TD.whitetdsolidcenter {
	BORDER-RIGHT: #b1c0a1 1px solid; PADDING-RIGHT: 4pt; BORDER-TOP: #b1c0a1 1px solid; PADDING-LEFT: 4pt; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 4pt; BORDER-LEFT: #b1c0a1 1px solid; COLOR: #333333; PADDING-TOP: 4pt; BORDER-BOTTOM: #b1c0a1 1px solid; FONT-STYLE: normal; FONT-FAMILY: 宋体; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
TD.whitetdsolidsmall {
	BORDER-RIGHT: #b1c0a1 1px solid; PADDING-RIGHT: 4pt; BORDER-TOP: #b1c0a1 1px solid; PADDING-LEFT: 4pt; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 4pt; BORDER-LEFT: #b1c0a1 1px solid; COLOR: #333333; PADDING-TOP: 4pt; BORDER-BOTTOM: #b1c0a1 1px solid; FONT-STYLE: normal; FONT-FAMILY: 宋体; BACKGROUND-COLOR: #ffffff; TEXT-DECORATION: none
}
TD.whitetdsolidsmallcenter {
	BORDER-RIGHT: #b1c0a1 1px solid; PADDING-RIGHT: 4pt; BORDER-TOP: #b1c0a1 1px solid; PADDING-LEFT: 4pt; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 4pt; BORDER-LEFT: #b1c0a1 1px solid; COLOR: #333333; PADDING-TOP: 4pt; BORDER-BOTTOM: #b1c0a1 1px solid; FONT-STYLE: normal; FONT-FAMILY: 宋体; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
TD.greentdnoborder {
	PADDING-RIGHT: 2pt; PADDING-LEFT: 2pt; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 2pt; COLOR: #333333; PADDING-TOP: 2pt; FONT-STYLE: normal; FONT-FAMILY: 宋体; BACKGROUND-COLOR: #eef2ee; TEXT-DECORATION: none
}
TD.greentdnoborderwidth {
	PADDING-RIGHT: 2pt; PADDING-LEFT: 2pt; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 2pt; WIDTH: 27%; COLOR: #333333; PADDING-TOP: 2pt; FONT-STYLE: normal; FONT-FAMILY: 宋体; BACKGROUND-COLOR: #eef2ee; TEXT-DECORATION: none
}
TD.greentdnoborder2 {
	PADDING-RIGHT: 2pt; PADDING-LEFT: 2pt; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 2pt; COLOR: #333333; PADDING-TOP: 2pt; FONT-STYLE: normal; FONT-FAMILY: 宋体; BACKGROUND-COLOR: #b1c0a1; TEXT-DECORATION: none
}
TD.greentdnoborder2width {
	PADDING-RIGHT: 2pt; PADDING-LEFT: 2pt; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 2pt; WIDTH: 27%; COLOR: #333333; PADDING-TOP: 2pt; FONT-STYLE: normal; FONT-FAMILY: 宋体; BACKGROUND-COLOR: #b1c0a1; TEXT-DECORATION: none
}
TD.backcolor {
	FONT-SIZE: 12px; COLOR: #003333; FONT-FAMILY: 宋体; BACKGROUND-COLOR: #b1c0a1
}
UL {
	MARGIN-TOP: 10px; PADDING-LEFT: 10px; MARGIN-LEFT: 10px
}
LI {
	MARGIN-TOP: 6px
}
.titlegreen {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #003333; FONT-STYLE: normal; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.titlegray {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; FONT-STYLE: normal; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.titleyellow {
	FONT-WEIGHT: bold; FONT-SIZE: 10.5pt; COLOR: #cc9933; FONT-STYLE: normal; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.titleyellowcn {
	FONT-WEIGHT: bold; FONT-SIZE: 10.5pt; COLOR: #cc9933; FONT-STYLE: normal; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.titleblack {
	FONT-WEIGHT: bold; FONT-SIZE: 10.5pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.titleblacksmall {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.titleblacken {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.normaltext {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #003333; LINE-HEIGHT: 18px; FONT-STYLE: normal; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.normaltextwhite {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px; FONT-STYLE: normal; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.normaltextbold {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; LINE-HEIGHT: 15px; FONT-STYLE: normal; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.normaltextitalic {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; LINE-HEIGHT: 15px; FONT-STYLE: italic; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.normaltextred {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ff3300; LINE-HEIGHT: 15px; FONT-STYLE: normal; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.smalltext {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #666666; FONT-STYLE: normal; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.smalltextblackcn {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.smalltextblack {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.smalltextred {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ff0000; FONT-STYLE: normal; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.largetext {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.largetextbold {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.buttonok {
	FONT-WEIGHT: bold; FONT-SIZE: 10.5pt; WIDTH: 65px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.button {
	FONT-WEIGHT: bold; FONT-SIZE: 10.5pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: 宋体; TEXT-DECORATION: none
}
.input {
	BORDER-TOP-WIDTH: 1px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; COLOR: #003333; BORDER-TOP-COLOR: #cccccc; FONT-STYLE: normal; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: #eef2ee; BORDER-RIGHT-WIDTH: 1px; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #cccccc
}
.radio {
	BORDER-TOP-WIDTH: 1px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #b1c0a1; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #b1c0a1; COLOR: #003333; BORDER-TOP-COLOR: #b1c0a1; FONT-STYLE: normal; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: #eef2ee; BORDER-RIGHT-WIDTH: 1px; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #b1c0a1
}
.checkbox {
	BORDER-TOP-WIDTH: 1px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #b1c0a1; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #b1c0a1; COLOR: #003333; BORDER-TOP-COLOR: #b1c0a1; FONT-STYLE: normal; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: #eef2ee; BORDER-RIGHT-WIDTH: 1px; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #b1c0a1
}
TEXTAREA {
	BORDER-TOP-WIDTH: 1px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; COLOR: #003333; BORDER-TOP-COLOR: #cccccc; FONT-STYLE: normal; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: #eef2ee; BORDER-RIGHT-WIDTH: 1px; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #cccccc
}
SELECT {
	BORDER-RIGHT: #b1c0a1 1px dashed; BORDER-TOP: #b1c0a1 1px dashed; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #b1c0a1 1px dashed; COLOR: #003333; BORDER-BOTTOM: #b1c0a1 1px dashed; FONT-STYLE: normal; FONT-FAMILY: Tahoma; BACKGROUND-COLOR: #eef2ee; TEXT-DECORATION: none
}
.deeptree {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; OVERFLOW: auto; WIDTH: 100%; PADDING-TOP: 5px; HEIGHT: 100%; BACKGROUND-COLOR: #edece6
}
.toolbar {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 100%; PADDING-TOP: 2px; HEIGHT: 25px; BACKGROUND-COLOR: #6699cc; TEXT-ALIGN: right
}
TD.node {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #000000; FONT-FAMILY: verdana; HEIGHT: 22px
}
#deeptree SPAN {
	BORDER-RIGHT: #f2f2f2 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #f2f2f2 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN-LEFT: 3px; BORDER-LEFT: #f2f2f2 1px solid; CURSOR: hand; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #f2f2f2 1px solid; FONT-FAMILY: verdana; HEIGHT: 20px; BACKGROUND-COLOR: #f2f2f2
}
#deeptree SPAN.NodeOver {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #cccccc
}
#deeptree SPAN.NodeFocus {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #ffffff
}
#deeptree INPUT {
	MARGIN-BOTTOM: 2px
}
.moveon {
	cursor: hand;
}