BODY {
	FONT-SIZE: 9pt; COLOR: #4444FF; FONT-FAMILY: "ו"
}
TABLE {
	FONT-SIZE: 9pt; COLOR: #5526b7; FONT-FAMILY: ו
}
A:link {
	FONT-SIZE: 9pt; CURSOR: hand; COLOR: #4a43d3; FONT-FAMILY: "ו"; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 9pt; COLOR: #000000; TEXT-DECORATION: none
}
A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #333399; FONT-STYLE: normal; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 9pt; COLOR: #0080FF; TEXT-DECORATION: underline blink
}
.anniu {
	font-size: 9pt; background-color: #8293E6; color: #FFFFFF; position: relative; height: 16; border-left-style: solid; border-left-width: 1px; border-right-style: solid; border-right-width: 1px; border-top: 1px solid #FFFFFF; border-bottom-style: solid; border-bottom-width: 1px
}
button       { font-size: 9pt; color: #000000; border: 1px solid #C0C0C0; background-color: 
               #EEEEEE }
.td a:link
{
	color: #000000;font-size:9pt 
}
.td a:visited
{
	color: #000000;font-size:9pt 
} 
.td a:active 
{
	color: #0066FF;font-size:9pt; text-decoration:underline
}
.deeptree {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; OVERFLOW: auto; WIDTH: 100%; PADDING-TOP: 5px; HEIGHT: 100%; BACKGROUND-COLOR: #edece6
}
.toolbar {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 100%; PADDING-TOP: 2px; HEIGHT: 25px; BACKGROUND-COLOR: #6699cc; TEXT-ALIGN: right
}
TD.node {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #000000; FONT-FAMILY: verdana; HEIGHT: 22px
}
#deeptree SPAN {
	BORDER-RIGHT: #f2f2f2 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #f2f2f2 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN-LEFT: 3px; BORDER-LEFT: #f2f2f2 1px solid; CURSOR: hand; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #f2f2f2 1px solid; FONT-FAMILY: verdana; HEIGHT: 20px; BACKGROUND-COLOR: #f2f2f2
}
#deeptree SPAN.NodeOver {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #cccccc
}
#deeptree SPAN.NodeFocus {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #ffffff
}
#deeptree INPUT {
	MARGIN-BOTTOM: 2px
}
.moveon {
	cursor: hand;
}
.inputText	 { font-size: 9pt;width: 150px;height : 20px }
.inputTextLong	 { font-size: 9pt;width: 300px;height : 20px }
.inputTextArea	{font-size: 9pt; }